*,*::after,*::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #24353F;

}
a{
    text-decoration:none;
}
ul{
    list-style-type:none;
}
a,span{
    display:inline-block;
    color: white;
}

a:hover{
    text-decoration:underline;
}

h1{
    color: #17A29D;
}

.box{
    background-color: #24353F;
}
.form-control{
    color:white !important;
}
.form{
    border-color: #f1250a;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(240, 15, 7, 0.25);
}
button{
    border: 2px solid #17A29D;
    color: #17A29D;
}
button:hover{
background-color: #17A29D !important;
color:white;

}